
@using WebDiary.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Content>

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">My Diary Online</h3>
    <form asp-controller="Content" asp-action="Add" method="get">
    <textarea id="content" name="content"
              rows="10" cols="100">          .
    </textarea>
    <br/>
        <input type="submit" value="Lưu" />
    </form>
    <a href="ListContent.cshtml"> Xem </a>

    <h2> List Content </h2>
    @*<table border="1">
        <tr>
            <td>Content ID</td>
            <td>Date</td>

        </tr>
        @foreach (Content c in @Model)
        {
            <tr>
                <td>@c.Content1</td>
                <td>@c.Date</td>
                <td><a asp-controller="Content" asp-action="Update" asp-route-id="@c.Id">Update</a></td>
                <td><a asp-controller="Content" asp-action="Delete" asp-route-id="@c.Id">Delete</a></td>
            </tr>

        }
    </table>*@
</div>

    
