@model IEnumerable<MyDiaryWeb.Models.Content>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1" width="70%">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
               Date
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    <a href="Home/Delete?id=@item.Id">Delete</a>
                    <a href="Home/Update?id=@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
