@using WebDiary.Models
@model List<Content>

@{


    <h2> List Content </h2>
    <table>
        <tr>
            <td>Content ID</td>
            <td>Date</td>
            
        </tr>
        @foreach(Content c in Model)
        {
            <tr>
                <td>@c.Content1</td>
                <td>@c.Date</td>
                <td><a asp-controller="Content" asp-action="Update" asp-route-id="@c.Id">Update</a></td>
                <td><a asp-controller="Content" asp-action="Delete" asp-route-id="@c.Id">Delete</a></td>
            </tr>
            
        }
    </table>


}
